@font-face {
    font-family: 'Neothic';
    src: url('../../Fonts/neothic/Neothic.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.ImageOne{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.containerTextPageHome{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 340px;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}
.titleContainerPageHome{
    color: #FFF;
    font-family: Neothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.containerTextPageHome.active {
    transform: scale(1);
}
.textContainerPageHome{
    color: #FFF;
    font-family: 'Satisfy', cursive;;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}
.buttonContainerPageHome{
    width: 171px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 45px;
    background-color: #FFF;
    border: none;
    transition: background-color 0.5s;
}
.buttonContainerPageHome:hover{
    background-color: #E32929;
}
.textButtonContainerPageHome{
    color: #000;
    font-family: 'Libre Baskerville', serif;;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.containerImgHome{
    width: 100%;
    height: 675px;
    flex-shrink: 0;
    background: url('../../Images/image2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textImageTwoPack{
    width: 1218px;
    height: auto;
    color: #FFF;
    font-family: 'Libre Baskerville', serif;;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
.titleContainerCarousel{
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titleContainerExperiences {
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
}  
.carouselImages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}  
.carouselImages img {
    width: 700px; /* Ancho de 700px para cada imagen */
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0.5; /* Aplica opacidad a todas las imágenes */
    transition: opacity 0.3s ease-in-out;
}  
.carouselImages img.center {
    opacity: 1; /* La imagen en el centro se muestra con opacidad completa */
    z-index: 2; /* La imagen en el centro se coloca al frente */
}  
.carouselImages img.side {
    opacity: 0.5; /* Las imágenes laterales se muestran con opacidad reducida */
    z-index: 1; /* Las imágenes laterales se colocan detrás */
}  
.carouselImages img.prev {
    transform: translateX(-50%) scale(0.9); /* Escala ligeramente reducida y centrada horizontalmente */
    top: 10%;
    left: 25%;
}  
.carouselImages img.next {
    transform: translateX(50%) scale(0.9); /* Escala ligeramente reducida y centrada horizontalmente */
    top: 10%;
    right: 25%;
}  
.carouselButtons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 850px;
    z-index: 2;
}  
.carouselButtons button {
    margin-bottom: 10px;
    background: none;
    border: none;
}
.arrowCarousel{
    width: 50px !important;
    height: auto !important;
    transition: width 0.5s !important;
}
.arrowCarousel:hover{
    width: 55px !important;
}
.arrowCarousel.Rotate{
    transform: scaleX(-1);
}