@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@font-face {
    font-family: 'Neothic';
    src: url('../../Fonts/neothic/Neothic.ttf');
}

.Packages{
    background: url(../../Images/PackagesImg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.titlePackages{
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 40px;
    text-align: center;
}
.textPackages{
    width: 784px;
    height: 164px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Libre Baskerville', serif, Old Face;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 100px auto;
}
.containerPackages{
    background: url(../../Images/Pack.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    display: table;
    height:200px;
    width: 100%;
}
.containerTextPackages{
    display: table-cell;
    vertical-align: middle;
}
.titleContainerPackages{
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
}
.containerBasic{
    background: url(../../Images/basicBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 752px;
    flex-shrink: 0;
    gap: 100px;
}
.imgBasic{
    width: 573px;
    height: 573px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.titleBasic{
    color: #FFF;
    text-align: center;
    font-family: 'Libre Baskerville', serif;;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-bottom: 10PX;
}
.textBasic{
    width: 581px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Libre Baskerville', serif;;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 40px;
}
.listBasic{
    width: 600px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Libre Baskerville', serif;;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    padding: 0;
}
.priceBasic{
    color: #FFF;
    font-family: 'Libre Baskerville', serif;;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.containerPremium{
    background: url(../../Images/premiumBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 752px;
    flex-shrink: 0;
    gap: 100px;
}
.premium{
    text-align: right;
}
.imgPremium{
    width: 665px;
    height: 582px;
    flex-shrink: 0;
    margin-right: 100px;
}
.imgDeluxe{
    width: 665px;
    height: 582px;
    flex-shrink: 0;
}
.containerDeluxe{
    background: url(../../Images/deluxeBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 896px;
    flex-shrink: 0;
    gap: 100px;
}
.containerEndPackages{
    display: flex;
    justify-content: center;
    height: 300px;
    padding-bottom: 90px;
}
.textEndPackages{
    width: 784px;
    height: 164px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Libre Baskerville', serif, Old Face;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: auto;
}

  .containerPremium{
    background: url(../../Images/premiumBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 752px;
    flex-shrink: 0;
    gap: 100px;
}


  .containerBasic.active > div:nth-child(1){
    animation: slideFromLeftBasic 3s forwards;
  }
  
  .containerBasic.active > div:nth-child(2) {
    animation: slideFromRightBasic 3s forwards;
  }
  
  @keyframes slideFromLeftBasic {
    0% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(8%);
    }
    40% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(-10%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromRightBasic {
    0% {
      transform: translateX(100%);
    }
    30% {
      transform: translateX(-8%);
    }
    40% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(10%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }

  .containerPremium.active > div:nth-child(1){
    animation: slideFromLeftPremium 3s forwards;
  }
  
  .containerPremium.active > div:nth-child(2) {
    animation: slideFromRightPremium 3s forwards;
  }
  
  @keyframes slideFromLeftPremium {
    0% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(7%);
    }
    40% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(-10%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromRightPremium {
    0% {
      transform: translateX(100%);
    }
    30% {
      transform: translateX(-7%);
    }
    40% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(10%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }

  .containerDeluxe.active > div:nth-child(1){
    animation: slideFromLeftDeluxe 3s forwards;
  }
  
  .containerDeluxe.active > div:nth-child(2) {
    animation: slideFromRightDeluxe 3s forwards;
  }
  
  @keyframes slideFromLeftDeluxe {
    0% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(7%);
    }
    40% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(-7%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromRightDeluxe {
    0% {
      transform: translateX(100%);
    }
    30% {
      transform: translateX(-7%);
    }
    40% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(10%);
    }
    70% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }