.End{
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.textEnd{
    color: #ffffffb2;
    font-family: Baskervville;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (min-width: 300px) and (max-width: 450px) {
    .End{
        height: 69px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .textEnd{
        color: #ffffffb2;
        font-family: Baskervville;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .lineEnd{
        display: none;
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .End{
        height: 128px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .textEnd{
        color: #ffffffb2;
        font-family: Baskervville;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .lineEnd{
        display: none;
    }
}