.containerForm{
  display: flex;
  flex-direction: column;
  width: 866px;
  justify-content: center;
  margin: auto;
}
.inputsOne{
  display: flex;
  flex-direction: column;
  width: 866px;
  gap: 20px;
  margin-bottom: 20px;
}
.inputForm{
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
}
.containerFormTwo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerFormPartOne{
  display: flex;
  flex-direction: column;
  width: 268px;
  gap: 20px;

}
.react-datepicker-wrapper {
  color: #000;
  background-color: #fff;
  width: 268px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
}
.dateContainer{
  display: flex;
  flex-direction: row;
  width: 268px;
  height: 56px;
  cursor: pointer;
}
.imgDate{
  height: auto;
}
.linesDate{
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}
.lines{
  letter-spacing: 10px;
  color: #000;
  font-family: Baskervville;
  font-size: 24px;
}
.containerImgCalender{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.imgCalender{
  width: 32px;
  height: 28px;
  flex-shrink: 0;
}
.selectsPack{
  width: 268px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  color: #000;
}
.selectsPack:hover{
  background: #000;
  color: white;
}
.description{
  height: 116px;
}
.containerFormPartTwo{
  display: flex;
  flex-direction: column;
  width: 562px;
  gap: 20px;
}
.selectsContainer{
  width: 562px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selects{
  width: 168px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
}
::placeholder {
  padding-left: 20px;
}
.description::placeholder {
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
  line-height: normal;
}
.options{
  padding-left: 20px;
  color: white;
  margin: 100px;
}
.containerButtonBook{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
.buttonBook{
  width: 170px;
  height: 64px;
  border-radius: 35px;
  border: none;
  background: linear-gradient(90deg, #FA0207, #7B1F2F);
  color: #FFF;
}
.buttonBook:hover{
  background: linear-gradient(90deg, #F13514, #C65173);
}
.textButtonBook{
  font-family: Baskervville;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.has-value{
  color: #000;
  font-family: Baskervville;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
  padding-left: 60px;
  background-image: url('../../Images/calenderSelect.png'); 
  background-repeat: no-repeat;
  background-position: left center;
  height: 28px;
  margin-top: 2px;
}
input[type="text" i] {
  padding-left: 20px;
}
input[type="email" i] {
  padding-left: 20px;
}
option{
  color: #000;
  font-family: Baskervville;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 120px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none; /* Aquí puedes agregar también el equivalente para navegadores Gecko (Firefox) si lo deseas */
  appearance: none;
  padding-right: 0px; 
}
.react-datepicker__header {
  background-color: black;
  border-bottom: none;
  border-radius: 35px;
  width: 268px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.react-datepicker {
  width: 268px;
  border-radius: 35px;
  background-color: black;
  border: none;
}

.react-datepicker__navigation {
  top: 10px;
}
.react-datepicker__navigation--next {
  right: 25px;
}
.react-datepicker__navigation--previous {
  left: 25px;
}

.react-datepicker__current-month {
  font-weight: bold;
}

.react-datepicker__day {
  padding: 2px;
  cursor: pointer;
  color: white;
}

.react-datepicker__current-month {
  color: white; /* Cambia el color del texto de los meses */
  font-size: 20px; /* Cambia el tamaño de fuente del texto de los meses */
  font-weight: bold; /* Cambia el peso de fuente del texto de los meses */
  font-family: Baskervville;
}

.react-datepicker__header__dropdown{
  display: none
}
.react-datepicker__day-name {
  color: white; /* Cambia el color del texto de los años */
  font-family: Baskervville;
  font-size: 14px;  
  font-weight: 200px;
  padding: 2px;
}
.react-datepicker__day-names {
  width: 268px;
  padding-top: 10px;
  padding-bottom: 0;
}

.react-datepicker__day:hover {
  background-color: white;
}

.react-datepicker__day--selected {
  background-color: white;
  color: black;
}

.react-datepicker__day--keyboard-selected {
  background-color: white !important;
  color: black;
}
.selectPackages{
  position: relative;
  display: inline-block;
}

.selectedOptionPackages {
  background-color: white;
  border-radius: 15px;
  color: #0000007a;
  width: 248px;
  height: 56px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  background-image: url('../../Images/arrowSeletc.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
  background-repeat: no-repeat;
  background-position: right center;
}
.selectedOptionCity {
  background-color: white;
  border-radius: 15px;
  color: #0000007a;
  width: 148px;
  height: 56px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  background-image: url('../../Images/arrowSeletc.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
  background-repeat: no-repeat;
  background-position: right center;
}
.openPack{
  color: white;
  background-color: black;
  border-radius: 15px;
  width: 248px;
  height: 56px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  background-image: url('../../Images/arrowSelectHover.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
  background-repeat: no-repeat;
  background-position: right center;
}
.optionsPackages {
  width: 268px;
  height: 156px;
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  margin: 0;
  background: #000;
}
.optionsCity {
  width: 148px;
  height: 156px;
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  margin: 0;
  background: #000;
  overflow: scroll;
}
.open{
  color: white;
  background-color: black;
  border-radius: 15px;
  width: 148px;
  height: 56px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  background-image: url('../../Images/arrowSelectHover.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
  background-repeat: no-repeat;
  background-position: right center;
}

.optionsPackages li {
  color: #FFF;
  text-align: center;
  font-family: Baskervville;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.optionsCity li {
  color: #FFF;
  height: 156px;
  text-align: center;
  font-family: Baskervville;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.optionsCity::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de scroll */
  background-color: black; /* Color de fondo de la barra de scroll */
}

/* Estilos para el thumb (el control deslizante del scroll) */
.optionsCity::-webkit-scrollbar-thumb {
  background-color: white; /* Color del thumb */
  border-radius: 4px; /* Radio de borde del thumb */
}

/* Estilos para el thumb en estado hover */
.optionsCity::-webkit-scrollbar-thumb:hover {
  background-color: white; /* Color del thumb al pasar el cursor sobre él */
}

/* Estilos para el track (el área por donde se desplaza el thumb) */
.optionsCity::-webkit-scrollbar-track {
  background-color: black; /* Color del track */
}

/* Estilos para el track en estado hover */
.optionsCity::-webkit-scrollbar-track:hover {
  background-color: #030303; /* Color del track al pasar el cursor sobre él */
}
@media (min-width: 300px) and (max-width: 450px) {
  .containerForm{
    display: flex;
    flex-direction: column;
    width: 245px;
    justify-content: center;
    margin: auto;
  }
  .inputsOne{
    display: flex;
    flex-direction: column;
    width: 245px;
    gap: 12px;
    margin-bottom: 12px;
  }
  .inputForm{
    height: 27px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
  }
  .containerFormTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .containerFormPartOne{
    display: flex;
    flex-direction: column;
    width: 76px;
    gap: 9px;
  
  }
  .react-datepicker-wrapper {
    color: #000;
    background-color: #fff;
    width: 76px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
  }
  .dateContainer{
    display: flex;
    flex-direction: row;
    width: 76px;
    height: 27px;
  }
  .imgDate{
    height: auto;
  }
  .linesDate{
    width: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }
  .lines{
    letter-spacing: 2px;
    color: #000;
    font-family: Baskervville;
    font-size: 6px;
  }
  .containerImgCalender{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
  }
  .imgCalender{
    width: 11px;
    height: 11px;
    flex-shrink: 0;
  }
  .selectsPack{
    width: 76px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    color: #00000073;
    font-size: 6px;
    font-weight: 100px;
  }
  .selectsPack:hover{
    background: #000;
    color: white;
  }
  .description{
    height: 55px;
  }
  .containerFormPartTwo{
    display: flex;
    flex-direction: column;
    width: 159px;
    gap: 9px;
  }
  .selectsContainer{
    width: 159px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .selectRes{
    height: 24px !important;
  }
  .selects{
    width: 47px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    font-size: 6px;
  }
  ::placeholder {
    padding-left: 9px;
    font-size: 6px;
  }
  .description::placeholder {
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
    line-height: normal;
  }
  .options{
    padding-left: 9px;
    color: white;
    margin: 100px;
  }
  .containerButtonBook{
    display: flex;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 53px;
  }
  .buttonBook{
    width: 84px;
    height: 29px;
    border-radius: 35px;
    border: none;
    background: linear-gradient(90deg, #FA0207, #7B1F2F);
    color: #FFF;
  }
  .buttonBook:hover{
    background: linear-gradient(90deg, #F13514, #C65173);
  }
  .textButtonBook{
    font-family: Baskervville;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
  .has-value{
    color: #000;
    font-family: Baskervville;
    font-size: 6px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding-top: 5px;
    padding-left: 23px;
    background-image: url('../../Images/calenderPhone.png'); 
    background-repeat: no-repeat;
    background-position: left center;
    height: 11px;
    margin-top: 0px;
  }
  input[type="text" i] {
    padding-left: 9px;
  }
  input[type="email" i] {
    padding-left: 9px;
  }
  option{
    color: #000;
    font-family: Baskervville;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 9px;
  }
  .react-datepicker__header {
    background-color: black;
    border-bottom: none;
    border-radius: 35px;
    width: 268px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .react-datepicker {
    width: 268px;
    border-radius: 35px;
    background-color: black;
    border: none;
  }
  
  .react-datepicker__navigation {
    top: 10px;
  }
  .react-datepicker__navigation--next {
    right: 25px;
  }
  .react-datepicker__navigation--previous {
    left: 25px;
  }
  
  .react-datepicker__current-month {
    font-weight: bold;
  }
  
  .react-datepicker__day {
    padding: 2px;
    cursor: pointer;
    color: white;
  }
  
  .react-datepicker__current-month {
    color: white; /* Cambia el color del texto de los meses */
    font-size: 20px; /* Cambia el tamaño de fuente del texto de los meses */
    font-weight: bold; /* Cambia el peso de fuente del texto de los meses */
    font-family: Baskervville;
  }
  
  .react-datepicker__header__dropdown{
    display: none
  }
  .react-datepicker__day-name {
    color: white; /* Cambia el color del texto de los años */
    font-family: Baskervville;
    font-size: 14px;  
    font-weight: 200px;
    padding: 2px;
  }
  .react-datepicker__day-names {
    width: 268px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  
  .react-datepicker__day:hover {
    background-color: white;
  }
  
  .react-datepicker__day--selected {
    background-color: white;
    color: black;
  }
  
  .react-datepicker__day--keyboard-selected {
    background-color: white !important;
    color: black;
  }

  .selectPackages{
    position: relative;
    display: inline-block;
  }
  
  .selectedOptionPackages {
    background-color: white;
    border-radius: 15px;
    color: #0000007a;
    width: 66px;
    height: 27px;
    cursor: pointer;
    padding-left: 5px;
    font-size: 6px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectPhone.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .selectedOptionCity {
    background-color: white;
    border-radius: 15px;
    color: #0000007a;
    width: 37px;
    height: 23px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 6px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectPhone.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .openPack{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 66px;
    height: 27px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 6px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectPhoneHover.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .optionsPackages {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    margin: 0;
    background: #000;
    z-index: 9999;
  }
  .optionsCity {
    width: 100px;
    height:150px;
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    margin: 0;
    background: #000;
    overflow: scroll;
    z-index: 9999;
  }
  .open{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 37px;
    height: 23px;
    cursor: pointer;
    padding-left: 5px;
    font-size: 6px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectPhoneHover.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .optionsPackages li {
    color: #FFF;
    text-align: center;
    font-family: Baskervville;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .optionsCity li {
    color: #FFF;
    height: 156px;
    text-align: center;
    font-family: Baskervville;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .optionsCity::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de scroll */
    background-color: black; /* Color de fondo de la barra de scroll */
  }
  
  /* Estilos para el thumb (el control deslizante del scroll) */
  .optionsCity::-webkit-scrollbar-thumb {
    background-color: white; /* Color del thumb */
    border-radius: 4px; /* Radio de borde del thumb */
  }
  
  /* Estilos para el thumb en estado hover */
  .optionsCity::-webkit-scrollbar-thumb:hover {
    background-color: white; /* Color del thumb al pasar el cursor sobre él */
  }
  
  /* Estilos para el track (el área por donde se desplaza el thumb) */
  .optionsCity::-webkit-scrollbar-track {
    background-color: black; /* Color del track */
  }
  
  /* Estilos para el track en estado hover */
  .optionsCity::-webkit-scrollbar-track:hover {
    background-color: #030303; /* Color del track al pasar el cursor sobre él */
  }
  
}

@media (min-width: 750px) and (max-width: 850px) {
  .containerForm{
    display: flex;
    flex-direction: column;
    width: 417px;
    justify-content: center;
    margin: auto;
  }
  .inputsOne{
    display: flex;
    flex-direction: column;
    width: 417px;
    gap: 21px;
    margin-bottom: 21px;
  }
  .inputForm{
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
  }
  .containerFormTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .containerFormPartOne{
    display: flex;
    flex-direction: column;
    width: 129px;
    gap: 16px;
  }
  .react-datepicker-wrapper {
    color: #000;
    background-color: #fff;
    width: 129px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
  }
  .dateContainer{
    display: flex;
    flex-direction: row;
    width: 129px;
    height: 42px;
    cursor: pointer;
  }
  .imgDate{
    height: auto;
  }
  .linesDate{
    width: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 19px;
  }
  .lines{
    letter-spacing: 5px;
    color: #000;
    font-family: Baskervville;
    font-size: 6px;
  }
  .containerImgCalender{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
  }
  .imgCalender{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  .selectsPack{
    width: 129px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    color: #00000073;
    font-size: 12px;
    font-weight: 100px;
  }
  .selectsPack:hover{
    background: #000;
    color: white;
  }
  .description{
    height: 93px;
  }
  .containerFormPartTwo{
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 16px;
  }
  .selectsContainer{
    width: 270px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .selectRes{
    height: 31px !important;
  }
  .selects{
    width: 79px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    font-size: 12px;
  }
  ::placeholder {
    padding-left: 16px;
    font-size: 12px;
  }
  .description::placeholder {
    padding-left: 20px;
    text-align: left;
    vertical-align: top;
    line-height: normal;
  }
  .options{
    padding-left: 9px;
    color: white;
    margin: 100px;
  }
  .containerButtonBook{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .buttonBook{
    width: 116px;
    height: 41px;
    border-radius: 35px;
    border: none;
    background: linear-gradient(90deg, #FA0207, #7B1F2F);
    color: #FFF;
  }
  .buttonBook:hover{
    background: linear-gradient(90deg, #F13514, #C65173);
  }
  .textButtonBook{
    font-family: Baskervville;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
  .has-value{
    color: #000;
    font-family: Baskervville;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding-top: 16px;
    padding-left: 37px;
    background-image: url('../../Images/calenderSelect.png'); 
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
    height: 28px;
    margin-top: 0px;
  }
  input[type="text" i] {
    padding-left: 9px;
  }
  input[type="email" i] {
    padding-left: 9px;
  }
  option{
    color: #000;
    font-family: Baskervville;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 9px;
  }
  .react-datepicker__header {
    background-color: black;
    border-bottom: none;
    border-radius: 35px;
    width: 268px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .react-datepicker {
    width: 268px;
    border-radius: 35px;
    background-color: black;
    border: none;
  }
  
  .react-datepicker__navigation {
    top: 10px;
  }
  .react-datepicker__navigation--next {
    right: 25px;
  }
  .react-datepicker__navigation--previous {
    left: 25px;
  }
  
  .react-datepicker__current-month {
    font-weight: bold;
  }
  
  .react-datepicker__day {
    padding: 2px;
    cursor: pointer;
    color: white;
  }
  
  .react-datepicker__current-month {
    color: white; /* Cambia el color del texto de los meses */
    font-size: 20px; /* Cambia el tamaño de fuente del texto de los meses */
    font-weight: bold; /* Cambia el peso de fuente del texto de los meses */
    font-family: Baskervville;
  }
  
  .react-datepicker__header__dropdown{
    display: none
  }
  .react-datepicker__day-name {
    color: white; /* Cambia el color del texto de los años */
    font-family: Baskervville;
    font-size: 14px;  
    font-weight: 200px;
    padding: 2px;
  }
  .react-datepicker__day-names {
    width: 268px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  
  .react-datepicker__day:hover {
    background-color: white;
  }
  
  .react-datepicker__day--selected {
    background-color: white;
    color: black;
  }
  
  .react-datepicker__day--keyboard-selected {
    background-color: white !important;
    color: black;
  }

  .selectPackages{
    position: relative;
    display: inline-block;
  }
  
  .selectedOptionPackages {
    background-color: white;
    border-radius: 15px;
    color: #0000007a;
    width: 117px;
    height: 42px;
    cursor: pointer;
    padding-left: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectTablet.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .selectedOptionCity {
    background-color: white;
    border-radius: 15px;
    color: #0000007a;
    width: 69px;
    height: 36px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectTablet.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .openPack{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 117px;
    height: 42px;
    cursor: pointer;
    padding-left: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectHoverTablet.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  .optionsPackages {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    margin: 0;
    background: #000;
    z-index: 9999;
  }
  .optionsCity {
    width: 120px;
    height:150px;
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    margin: 0;
    background: #000;
    overflow: scroll;
    z-index: 9999;
  }
  .open{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 69px;
    height: 36px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-image: url('../../Images/arrowSelectHoverTablet.png'); /* Reemplaza con la ruta de tu imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .optionsPackages li {
    color: #FFF;
    text-align: center;
    font-family: Baskervville;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .optionsCity li {
    color: #FFF;
    height: 156px;
    text-align: center;
    font-family: Baskervville;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .optionsCity::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de scroll */
    background-color: black; /* Color de fondo de la barra de scroll */
  }
  
  /* Estilos para el thumb (el control deslizante del scroll) */
  .optionsCity::-webkit-scrollbar-thumb {
    background-color: white; /* Color del thumb */
    border-radius: 4px; /* Radio de borde del thumb */
  }
  
  /* Estilos para el thumb en estado hover */
  .optionsCity::-webkit-scrollbar-thumb:hover {
    background-color: white; /* Color del thumb al pasar el cursor sobre él */
  }
  
  /* Estilos para el track (el área por donde se desplaza el thumb) */
  .optionsCity::-webkit-scrollbar-track {
    background-color: black; /* Color del track */
  }
  
  /* Estilos para el track en estado hover */
  .optionsCity::-webkit-scrollbar-track:hover {
    background-color: #030303; /* Color del track al pasar el cursor sobre él */
  }
}