@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@font-face {
    font-family: 'Neothic';
    src: url('../../Fonts/neothic/Neothic.ttf');
}

.PageAboutUs{
    background: url(../../Images/aboutUsBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 2071px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 15px;
    padding-top: 150px;
}
.titleAboutUs{
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.containerTextAboutUs{
    display: flex;
    justify-content: center;
}
.textAboutUs{
    color: #FFF;
    font-family: 'Libre Baskerville', serif;;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 1218px;
    line-height: normal;
    margin-top: 100px;
}
.textSlogan{
    width: 810px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}