@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@font-face {
    font-family: 'Neothic';
    src: url('../../Fonts/neothic/Neothic.ttf');
}
.positionQuestion{
    padding-top: 20px;
}
.questionsTitle{
    color: #FFF;
    font-family: Neothic;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 150px;
}
.containerQuestions{
    width: 1011px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin: auto;
}
.containerQuestions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.titleQuestions{
    color: #000;
    font-family: Neothic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    width: 664px;
    
}
.textQuestions{
    color: #000;
    font-family: 'Libre Baskerville', serif, Old Face;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 664px;
}

@media (min-width: 300px) and (max-width: 450px) {
    .positionQuestion{
        padding-top: 20px;
    }
    .questionsTitle{
        color: #FFF;
        font-family: Neothic;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 58px;
        padding-bottom: 44px;
    }
    .containerQuestions{
        width: 270px;
        height: 106px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FFF;
        margin: auto;
    }
    .containerQuestions{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
    .titleQuestions{
        color: #000;
        font-family: Neothic;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
        width: 180px;
        
    }
    .textQuestions{
        color: #000;
        font-family: 'Libre Baskerville', serif, Old Face;
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 180px;
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .positionQuestion{
        padding-top: 20px;
    }
    .questionsTitle{
        color: #FFF;
        font-family: Neothic;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .containerQuestions{
        width: 568px;
        height: 232px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FFF;
        margin: auto;
    }
    .containerQuestions{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
    .titleQuestions{
        color: #000;
        font-family: Neothic;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
        width: 353px;
        
    }
    .textQuestions{
        color: #000;
        font-family: 'Libre Baskerville', serif, Old Face;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 470px;
    }
}